version "3.9"

services:
  web:
    image: hrishi001/app:latest
    container_name: app_container
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
